@use "../../styles/variables.module" as *;

.price {
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9);
}

.left_1stLine,
.right_1stLine,
.ball,
.right_polygon1 {
  position: absolute;
}

.left_1stLineParent {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: -1;
  width: clamp(
    351px,
    calc(351px + 88 * (100vw - 768px) / 672),
    439px
  ) !important;
  height: clamp(
    452px,
    calc(452px + 113 * (100vw - 768px) / 672),
    565px
  ) !important;
}

.right_1stLineParent {
  position: absolute;
  right: 0;
  top: 0;
  width: clamp(273.6px, 23.75vw, 342px) !important;
  height: clamp(343.2px, 29.79vw, 429px) !important;
  z-index: -1;
}

.ballParent {
  position: absolute;
  right: 32.64%;
  top: 25%;
  z-index: -1;
  width: clamp(135.2px, 5.03vw + 96.57px, 169px);
  height: clamp(135.2px, 5.03vw + 96.57px, 169px);
}

.right_polygonParent {
  position: absolute;
  bottom: 20.9%;
  right: 29.55%;
  z-index: -1;
  width: clamp(185.6px, 6.9vw + 132.61px, 232px);
  height: clamp(93.6px, 3.48vw + 66.87px, 117px);
}

@media (max-width: 767px) {
  .left_1stLineParent {
    top: 0px;
    left: clamp(-56.42px, 58.93vw - 245px, 207px);
    z-index: -1;
  }

  .right_1stLine {
display: none;  }

  .ball {
display: none;
  }

  .right_polygon1 {
    bottom: 250px;
    right: 420px;
    z-index: -1;
  }
}

.price__inner {
  padding-top: 110px;
  padding-bottom: 96px;
  @media (max-width: 767px) {
    padding-bottom: 60px;
  }
}

.Bread {
  position: absolute;
  top: clamp(97.9px, calc(3.7568vw + 85.912px), 158px);
  left: clamp(20px, 5vw + 10px, 170px);
}

.price__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 105px;
  @media (max-width: 767px) {
    margin-top: 60px;
  }
}

.price__h1 {
  position: relative;
  font-family: "Noto Sans JP";
  color: $main-color-dark_blue;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  letter-spacing: 4%;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 26px;
  @media (max-width: 767px) {
    font-size: clamp(11.72px, 10.09px + 0.51vw, 14px);
    padding-left: clamp(17.16px, 12.26px + 1.53vw, 24px);
  }
  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    border: solid 2px $accent-color-red;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    color: $accent-color-red;
    @media (max-width: 767px) {
      width: clamp(7.44px, 4.17px + 1.02vw, 12px);
      height: clamp(7.44px, 4.17px + 1.02vw, 12px);
    }
  }
}

.price__h2 {
  padding-left: 26px;
  margin-top: 4px;
  margin-bottom: 0;
  color: $main-color-dark_blue;
  font-family: "DM Sans";
  font-weight: 600;
  font-size: 64px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: bottom;
  @media (max-width: 767px) {
    font-size: clamp(32.07px, 9.21px + 7.14vw, 64px);
    padding-left: 0;
  }
}

.price__text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 72px;
  margin-bottom: 62px;
  @media (max-width: 767px) {
    font-size: clamp(13.72px, 12.09px + 0.51vw, 16px);
    margin-block: 48px;
  }
}

.price__explanation {
  width: clamp(310.31px, 248.11px + 19.44vw, 621.3px);
  font-family: "Noto Sans JP";
  font-weight: 400;
  font-size: clamp(13.9px, 13.3px + 0.19vw, 16.9px);
  line-height: 180%;
  letter-spacing: 0%;
  color: $text-black;
  @media (max-width: 369px) {
    width: clamp(284px, 48.9px + 73.47vw, 320px);
  }
}

.price__tableContent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: clamp(25.19px, 8.87px + 5.1vw, 48px);
}
.price_table {
  border-collapse: collapse;
  box-shadow: 0px 2px 10px 0px #19213d0d;
  overflow: hidden;
}

.visually_hidden {
  position: absolute;
  clip: rect(0 0 0 0);
}

.price__tableBody {
  background: $base-color_white;
  tr {
    border: 1px solid #caccd3;
    width: clamp(310.31px, 248.11px + 19.44vw, 621.3px);
    height: clamp(59.48px, 56.48px + 0.94vw, 74.51px);
    box-sizing: border-box;
    @media (max-width: 369px) {
      width: clamp(284px, 48.9px + 73.47vw, 320px);
    }
    &:nth-child(1) {
      border-radius: 8px 8px 0 0;
    }
    &:nth-child(4) {
      border-radius: 0 0 8px 8px;
    }
    &:not(:first-child) {
      border-top: 0;
    }
    padding: clamp(24.79px, 23.59px + 0.38vw, 30.8px)
      clamp(19.38px, 15.78px + 1.13vw, 37.41px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    td {
      font-size: clamp(13.9px, 13.3px + 0.19vw, 16.9px);
      text-align: left;
      &:nth-child(2) {
        text-align: right;
        font-weight: 700;
      }
    }
  }
}
