@use "../../../styles/variables.module.scss" as *;

.thanks{
  width: 100vw;
  height: calc(100vh - 60px);
position: relative;
overflow: hidden;
  background-color: rgba(255, 255, 255, 0.95);
}

.Bread {
  position: absolute;
top: clamp(97.9px, calc(3.7568vw + 85.912px), 158.0px);
  left: clamp(20px, 5vw + 10px, 170px);
}

.left_1stLine,.left_2ndLine,.right_2ndLine,.right_polygon1,.right_polygon2{
  position: absolute;
}

.left_1stLine{
top: -437px;
z-index: -1;
}

.left_2ndLine{
  bottom: -125px;
  z-index: -1;
}

.right_2ndLine{
  top: 283.07px;
right: -10px;
z-index: -1;
}


.right_polygon1{
  top: 438px;
  right: 467px;
  z-index: -1;
}
.right_polygon2{
  top: 265px;
  right: 467px;
  z-index: -1;
}

.thanksHeader{

}


.thanks404{
  font-family: "DM Sans";
  font-weight: 600;
  font-size: clamp(34.55px, 26.14px + 2.63vw, 76.62px);
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: bottom;
  margin-block: 0;
  padding-top: 42.631vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #272E85
}

.thanksP{
  font-family: "Noto Sans JP";
font-weight: 400;
font-size: clamp(13.90px, 13.30px + 0.19vw, 16.90px);
line-height: 180%;
letter-spacing: 0%;
text-align: center;
margin-top: clamp(47.59px, 45.18px + 0.75vw, 59.61px);
margin-bottom: 0;
padding-inline: 20px;
@media (max-width:370px) {
  font-size: 12px;
}
}

.thanksAttention{
color: $accent-color-red;
text-align: center;
font-size: clamp(13.90px, 13.30px + 0.19vw, 16.90px);;
padding-inline: 20px;
}