@use "../../../app/styles/variables.module" as *;

.worksContents {
  position: relative;
  padding-bottom: 40px;
  display: flex;
  gap: 24px;
  justify-content: center;
  padding-top: 40px;
  
  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-inline: clamp(1px, 4.26vw - 12.63px, 20px);
  }
}

// BlogPostsClientと同じスタイルを適用
.blog-card {
  position: relative;
  /* 1024px: 251px | 1920px: 471px */
  width: clamp(251px, 24.514vw, 471px);
  /* 1024px: 282px | 1920px: 529px */
  height: clamp(282px, 27.57vw, 529px);
  @media screen and (min-width: 768px) and (max-width: 1023px) {
  width: clamp(195px, calc(195px + 55 * (100vw - 768px) / 255), 250px);
  height: clamp(219px, calc(219px + 62 * (100vw - 768px) / 255), 281px);
  }
  @media (max-width: 767px) {
    /* 320px: 310px | 375px: 330px | 767px: 380px */
    width: clamp(310px, 36.36vw + 193.6px, 380px);
    /* 320px: 332px | 375px: 352px | 767px: 405px */
    height: clamp(332px, 36.36vw + 213.6px, 405px);
  }
  border-radius: 8px;
  overflow: hidden;
  background: $base-color-white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  
  &:hover {
    .blog-title {
      &::after {
        animation: titleLine 0.4s ease-in-out;
        opacity: 1;
      }
    }

    .blog-link {
      background-position: 0 0;
    }

    .blog-link::before {
      background-color: transparent;
      background-image: url("../../../public/Works/PC/ArrowWhite.webp");
      animation: arrow-cycle 0.4s ease-in-out 0.4s forwards;
    }
  }

  &:hover .blog-header img {
    transform: scale(1.05);
  }

  .blog-header {
    position: relative;
    width: 100%;
    /* 1024px: 142px | 1920px: 267px */
    height: clamp(142px, 13.889vw, 267px);
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      height: clamp(110px, calc(110px + 32 * (100vw - 768px) / 255), 142px);
    }

    @media (max-width: 767px) {
      /* 320px: 175px | 375px: 187px | 767px: 215px */
      width: clamp(310px, 36.36vw + 193.6px, 380px);
      height: clamp(175px, 30.61vw + 77.2px, 215px);
    }
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.3s ease-in-out;
      transform: translateZ(0);
    }
  }
  
  .blog-category {
    position: absolute;
    max-width: 300px;
    width: auto;
    z-index: 2;
    /* 1024px: 21px | 1920px: 40px */
    height: clamp(21px, 2.083vw, 40px);
    top: clamp(11px, 1.114vw, 21px);
    right: clamp(13px, 1.337vw, 25px);
    border-radius: 3px;
    border-width: 1px;
    /* 1024px: 7px | 1920px: 13px */
    padding: clamp(7px, 0.694vw, 13px);
    color: $main-color-dark_blue;
    background: $base-color-white;
    font-family: "Noto Sans JP";
    font-weight: 600;
    /* 1024px: 10px | 1920px: 19px */
    font-size: clamp(10px, 0.972vw, 19px);
    line-height: 160%;
    letter-spacing: 0%;
    border: 1px solid #caccd3;
    box-shadow: 0px 1px 10px 0px #19213d33;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      height: clamp(16px, calc(16px + 5 * (100vw - 768px) / 255), 21px);
      top: clamp(8px, calc(8px + 3 * (100vw - 768px) / 255), 11px);
      right: clamp(10px, calc(10px + 3 * (100vw - 768px) / 255), 13px);
      padding: clamp(5px, calc(5px + 2 * (100vw - 768px) / 255), 7px);
      font-size: clamp(8px, calc(8px + 2 * (100vw - 768px) / 255), 10px);
    }
    @media (max-width: 767px) {
      /* 320px: 22px | 375px: 24px | 767px: 28px */
      height: clamp(22px, 1.53vw + 17.1px, 28px);
      /* 320px: 12px | 375px: 13px | 767px: 16px */
      top: clamp(12px, 1.02vw + 8.74px, 16px);
      /* 320px: 12px | 375px: 13px | 767px: 16px */
      right: clamp(12px, 1.02vw + 8.74px, 16px);
      /* 320px: 6px | 375px: 7px | 767px: 9px */
      padding: clamp(6px, 0.76vw + 3.56px, 9px);
      /* 320px: 11px | 375px: 12px | 767px: 14px */
      font-size: clamp(11px, 0.76vw + 8.56px, 14px);
    }
  }

  .blog-footer {
    padding-inline: clamp(17.5px, 3.37vw - 17px, 47.5px);
    @media (min-width: 1024px) {
      /* 1024px: 104px | 1920px: 195px */
      height: clamp(104px, 10.139vw, 195px);
    }
    padding: clamp(17px, 1.667vw, 32px) clamp(22px, 2.188vw, 42px);
    box-sizing: border-box;
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      height: clamp(77px, calc(77px + 27 * (100vw - 768px) / 255), 104px);
      padding: clamp(13px, calc(13px + 4 * (100vw - 768px) / 255), 17px) clamp(17px, calc(17px + 5 * (100vw - 768px) / 255), 22px);
    }
    @media (max-width: 767px) {
      /* 320px: 142px | 375px: 150px | 767px: 175px */
      height: clamp(142px, 20.41vw + 76.73px, 175px);
    }
    
    h2 {
      @media (max-width: 1440px) {
        padding-top: clamp(2px, 0.96vw - 8px, 6px);
      }
      @media (min-width: 1441px) {
        padding-top: clamp(6px, 1.25vw - 12px, 12px);
      }
      padding-bottom: clamp(26px, 2.45vw + 1px, 48px);
      margin: 0;
      box-sizing: border-box;
      font-size: clamp(12px, 1.337vw, 24px);
      @media screen and (min-width: 768px) and (max-width: 1023px) {
        padding-top: clamp(2px, calc(2px + 0 * (100vw - 768px) / 255), 2px);
        padding-bottom: clamp(20px, calc(20px + 6 * (100vw - 768px) / 255), 26px);
        font-size: clamp(9px, calc(9px + 3 * (100vw - 768px) / 255), 12px);
      }
      @media (max-width:767px) {
        /* 320px: 20px | 375px: 22px | 767px: 26px */
        padding-top: clamp(20px, 1.53vw + 15.1px, 26px);
        /* 320px: 22px | 375px: 25px | 767px: 32px */
        padding-bottom: clamp(22px, 2.55vw + 13.84px, 32px);
        /* 320px: 16px | 375px: 17px | 767px: 19px */
        font-size: clamp(16px, 0.76vw + 13.56px, 19px);
      }
    }
    
    time {
      margin: 0;
      height: 82px;
      box-sizing: border-box;
      font-size: clamp(11px, 1.228vw, 22px);
      @media screen and (min-width: 768px) and (max-width: 1023px) {
        font-size: clamp(8px, calc(8px + 3 * (100vw - 768px) / 255), 11px);
      }
      @media (max-width:767px) {
        /* 320px: 13px | 375px: 14px | 767px: 16px */
        font-size: clamp(13px, 0.76vw + 10.56px, 16px);
      }
    }
  }
}

.blog-link {
  position: absolute;
  width: 40px;
  height: 40px;
  right: clamp(18px, 1.53vw + 5px, 32px);
  bottom: 10%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 1px;
  background: linear-gradient(282.13deg, #366195 10.86%, #333398 77.59%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.4s ease-in-out;
  
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: clamp(31px, calc(31px + 9 * (100vw - 768px) / 255), 40px);
    height: clamp(31px, calc(31px + 9 * (100vw - 768px) / 255), 40px);
    right: clamp(14px, calc(14px + 4 * (100vw - 768px) / 255), 18px);
  }
  
  @media (max-width: 767px) {
    /* 320px: 18px | 375px: 20px | 767px: 25px */
    right: clamp(18px, 1.78vw + 12.3px, 25px);
    /* 320px: 15px | 375px: 17px | 767px: 22px */
    bottom: clamp(15px, 1.78vw + 9.3px, 22px);
  }

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: $base-color-white;
    background-image: url("../../../public/Works/PC/ArrowBlue.webp");
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 7px;
    transition: background-color 0.4s ease-in-out,
      background-image 0.4s ease-in-out, transform 0.3s ease-out,
      opacity 0.3s ease-out;
    transform: translateX(0%);
    opacity: 1;
    
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      background-size: clamp(14px, calc(14px + 4 * (100vw - 768px) / 255), 18px);
      border-radius: clamp(5px, calc(5px + 2 * (100vw - 768px) / 255), 7px);
    }
  }
}

@keyframes arrow-cycle {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  20% {
    transform: translateX(0%);
    opacity: 1;
  }
  50% {
    transform: translateX(100%);
    opacity: 0;
  }
  50.01% {
    transform: translateX(-100%);
    opacity: 0;
  }
  70% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}