@use "../../styles/variables.module" as *;

.contact__inner {
  padding-top: 110px;
  padding-bottom: 96px;
}

.Breadcrumb{
  position: absolute;
  top: 140px;
  left: 170px;
  }

.contact__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 66px;
}

.contact__h1 {
  position: relative;
  font-family: "Noto Sans JP";
  color: $main-color-dark_blue;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  letter-spacing: 4%;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 26px;
  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    border: solid 2px $accent-color-red;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    color: $accent-color-red;
  }
}

.contact__h2 {
  padding-left: 26px;
  margin-top: 4px;
  margin-bottom: 0;
  height: 96px;
  color: $main-color-dark_blue;
  font-family: "DM Sans";
  font-weight: 600;
  font-size: 64px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: bottom;
}

.contact__click{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__pp{
  text-decoration: underline;
  color: $main-color-dark_blue;

}