@use "../../styles/variables.module" as *;

.privacy{
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9)
}


.left_1stLine,.left_2ndLine,.right_1stLine,.right_2ndLine{
  position: absolute;
}

.left_1stLine{
  top: 0;
  left: -150px;
  z-index: -1;
}

.left_2ndLine{
  bottom: 600px;
  left: -180px;
  z-index: -1;

}

.right_1stLine{
  right: -85px;
  top: 0;
  z-index: -1;
}


.right_2ndLine{
  bottom: 85px;
right: 10px;
z-index: -1;
}


.privacy__inner {
  padding-top: 110px;


  li{
    list-style: none;
  }
}

.Breadcrumb{
  position: absolute;
  top: 140px;
  left: 170px;
  }

.privacy__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 66px;
}

.privacy__h1 {
  position: relative;
  font-family: "Noto Sans JP";
  color: $main-color-dark_blue;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  letter-spacing: 4%;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 26px;
  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    border: solid 2px $accent-color-red;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    color: $accent-color-red;
  }
}

.privacy__h2 {
  padding-left: 26px;
  margin-top: 4px;
  margin-bottom: 0;
  height: 96px;
  color: $main-color-dark_blue;
  font-family: "DM Sans";
  font-weight: 600;
  font-size: 64px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: bottom;
}

.privacy__policy{
  display: flex;
  align-items: center;
  justify-content: center;
}

.pp__article{
  margin-top: 72px;
  margin-bottom: 96px;
  padding: 32px 48px;
  font-family: "Noto Sans JP";
  color: $text-black;
font-weight: 400;
font-size: 16px;
line-height: 180%;
letter-spacing: 0%;
width: 900px;
border: 1px solid #CACCD3;
box-shadow: 0px 2px 10px 0px #19213D0D;
border-radius: 8px;
background: $base-color-white;

}