@use "../../../app/styles/variables.module" as *;

.flow {
  background-image: url("../../../public/Flow/PC/Flow_bg.webp");
  background-size: cover;
  max-width: 3000px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  // 透明度を背景だけにかけたいなら、overlayで対応する
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.7); // 半透明の白
    z-index: 1;
  }

  // 中身を前面に出す
  &__inner {
    position: relative;
    z-index: 2;
  }
}

.flow__title {
  position: relative;
  z-index: 2;
}

.flow__contain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 32px;
  grid-column-gap: 32px;
  padding-inline: 275px;
  // padding-top: 56px;
  padding-bottom: 96px;
}

.flow__figure {
  max-width: 274px;
  height: 331.99px;
  width: 100%;

  background: $base-color-white;
  border-radius: 8px;
  margin: 0;
  text-align: center;
}

.image {
  padding-top: 24px;
  padding-inline: 32px;
  padding-bottom: 40px;
}

.h3 {
  font-family: "Noto Sans JP";
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: $main-color-dark_blue;
  margin: 0;
  padding-bottom: 24px;
}

.h3__caption {
  font-family: "Noto Sans JP";
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  letter-spacing: 0%;
  text-align: center;
  margin: 0;
  padding-inline: 32px;
}

.price {
  font-family: "Noto Sans JP";
  font-weight: 700;
  font-size: 14px;
  line-height: 170%;
  letter-spacing: 0%;
  text-align: center;
  color: $accent-color-red;
  margin: 0;
  padding-top: 19px;
}
