@use "../app/styles/variables.module" as *;

.about {
  position: relative;
  background: $base-color-white;
  max-width: 3000px;
  width: 100%;
}

.line {
position: absolute;
top: 0;
right: 221px;
}

.ball {
position: absolute;
top: 126px;
right: 137px;
}

.about__inner{
  padding: 96px 170px;
}

.about__content {
  margin-top: 40px;
  margin-inline: 70.5px;
}

.about__1st {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.about__icon{

}

.about__textImages{
display: flex;
gap: 8px;
align-items: center;
margin-top: 36.87px;
margin-bottom: 32px;
}

.logo {

}

.x {
margin-block: 3.15px;
}

.about__text{
  font-family: "Noto Sans JP";
font-weight: 400;
font-size: 16px;
line-height: 180%;
letter-spacing: 0%;
}

.about__2nd{
  display: flex;
gap: 131px;
margin-top: 64px;
}

.about__coding {
  padding-left: 40px;
}

.about__codingTitle{

}

.coding__lists{
  margin-top: 32px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  padding-left: 0;
}

.about__list{
  margin: auto;
}

.about__design{

}

.design__lists{
  margin-top: 32px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  padding-left: 0;
}