@use '../../styles/variables.module' as *;

.faq {
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9);
}

.left_1stLine,.left_2ndLine,.right_1stLine,.ball,.right_2ndLine,.right_polygon1,.right_polygon2{
  position: absolute;
}

.left_1stLineParent{
  position: absolute;
  top: -3.87%;
  z-index: -1;
  width: clamp(351.2px, 13.06vw + 250.9px, 439px);
  height: clamp(452px, 16.82vw + 322.78px, 565px);
  @media (max-width:767px) {
width: clamp(301.92px, 15.29px + 89.57vw, 702.31px);
height: clamp(388.59px, 19.63px + 115.30vw, 903.97px);
right: clamp(53.38px, 36.70px + 5.21vw, 76.69px);
top: clamp(-350.52px, 335.32px - 89.42vw, 49.18px);
@media (max-width:374px) {
  transform:translateY(-15%) ;
}
  }
}

.left_2ndLineParent{
  position: absolute;
  bottom: 18.08%;
  z-index: -1;
   width: clamp(437.6px, 16.28vw + 312.57px, 547px);
  height: clamp(280px, 10.42vw + 199.97px, 350px);
  @media (max-width:767px) {
    display: none;
  }

}

.right_1stLineParent{
  position: absolute;
right: clamp(25px, 11.14vw - 60.44px, 99.9219px);
top: clamp(-75.25px, 11.03vw - 234.08px, -1px);
width: clamp(205.2px, 20.36vw + 48.84px, 342px);
height: clamp(257.4px, 25.54vw + 61.25px, 429px);
  z-index: -1;
    @media (max-width:767px) {
    display: none;
  }
}

.ballParent{
  position: absolute;
right: clamp(214.641px, 36.46vw - 65.01px, 460px);
top: clamp(174px, 0.45vw + 173.55px, 177px);
width: clamp(101.4px, 10.06vw + 24.14px, 169px);
height: clamp(101.4px, 10.06vw + 24.14px, 169px);
  z-index: -1;
    @media (max-width:767px) {
    display: none;
  }
}

.right_2ndParent{
  position: absolute;
  top: 51%;
right: 7%;
 width: clamp(486.4px, 18.1vw + 347.39px, 608px);
  height: clamp(690.82px, 25.7vw + 493.44px, 863.525px);
z-index: -1;
@media (max-width:767px) {
  top: 58%;
  left: 60%;
  right: unset;
  // right: -85%;
}
}


.faq__inner {
  padding-top: 110px;
  padding-bottom: 96px;
}

.Bread {
  position: absolute;
top: clamp(97.9px, calc(3.7568vw + 85.912px), 158.0px);
  left: clamp(20px, 5vw + 10px, 170px);
}

.faq__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 66px;
  @media (width:375px) {
    margin-top: 60px;
  }
}

.faq__h1 {
  position: relative;
  font-family: "Noto Sans JP";
  color: $main-color-dark_blue;
  font-weight: 400;
 font-size: clamp(12px, 0.2vw + 11.2px, 15px);
  line-height: 170%;
  letter-spacing: 4%;
  margin-top: 0;
  margin-bottom: 0;
padding-left: clamp(17.5px, 0.6vw + 15.7px, 27.5px);  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    border: solid 2px $accent-color-red;
width: clamp(9.8px, 0.15vw + 9.2px, 12.5px);
height: clamp(9.8px, 0.15vw + 9.2px, 12.5px);
    border-radius: 50px;
    color: $accent-color-red;
  }
}

.faq__h2 {
  padding-left: 26px;
  margin-top: 4px;
  margin-bottom: 0;
  color: $main-color-dark_blue;
  font-family: "DM Sans";
  font-weight: 600;
  font-size: clamp(34px, 3.5vw + 20px, 70px);
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: bottom;
}

.faq__items {
  margin-top: clamp(2.813rem, 2.438rem + 1.88vw, 4.688rem);
  display: flex;
  gap: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.faq__itemsToggle {
  
}