@use "../../../app/styles/variables.module" as *;

.faq {
  background: transparent;
  border: 1px solid $base-color-off_white;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans JP";
  font-weight: 700;
  font-size: 16px;
  line-height: 170%;
  letter-spacing: 4%;
  text-align: center;
  justify-content: center;
  max-width: 176px;
  max-height: 52px;
  padding: 20px 27.5px;
  color: $base-color-white;
  cursor: pointer;;
}