// @use "../../../styles/variables.module.scss" as *;

.thanks{
  width: 100vw;
  height: 100vh;
text-align: center;
}

.thanksHeader{

}
.thanks404{
  font-family: "DM Sans";
  font-weight: 600;
  font-size: 64px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: bottom;
  margin-block: 0;
  padding-top: 350px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #272E85
}

.thanksP{
  font-family: "Noto Sans JP";
font-weight: 400;
font-size: 16px;
line-height: 180%;
letter-spacing: 0%;
text-align: center;
margin-top: 56px;
margin-bottom: 0;
}