@use "../../../app/styles/variables.module" as *;

.works {
  background-image: url("../../../public/Works/PC/Works_bg.webp");
  background-size: cover;
  max-width: 3000px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-bottom: 96px;
}

.works__inner{

  div,h2{
    color: $base-color-white;
  }
}

.works__title{

}