@use "../../../app/styles/variables.module" as *;

.fv {
  position: relative;
  height: auto;
}

.fv_header_ball {
  position: absolute;
  top: 114px;
  left: 295px;
}

.fv_header_line {
  position: absolute;
  top: 0;
  left: 375px;
}

.fv_left_line {
  position: absolute;
  bottom: 0;
  left: 0;
}

.fv_right_line {
  position: absolute;
  bottom: 0;
  right: 0;
}

.fv_right_polygon_left {
  position: absolute;
  bottom: 136px;
  right: 64.56px;
}

.fv_right_polygon_right {
  position: absolute;
  bottom: 140px;
  right: 18px;
}

.fv_image {
  position: absolute;
  max-width: 420px;
  width: 100%;
  max-height: 467.478271484375px;
  top: 177px;
  right: 188px;
  border-radius: 9.74px;
}

.fv__text {
  position: absolute;
  max-width: 576px;
  max-height: 231px;
  width: 100%;
  top: 295px;
  left: 203px;
  gap: 24px;
}

.fv__text_h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 150%;
  letter-spacing: 0%;
  color: $text-accent-blue;
}

.fv__text_div {
  margin-top: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 170%;
  letter-spacing: -10%;
  color: $text-accent-blue;
}