@charset "UTF-8";
:export {
  baseColorWhite: #FFFFFF;
  baseColorOffWhite: #F9F9F9;
  mainColorDarkBlue: #272E85;
  mainColorBlue: #2F4AB2;
  accentColorRed: #E54B4B;
  accentColorGray: #6D758F;
}

:export {
  textBlack: #282828;
  textWhite: #ffffff;
  textAccentBlue: #272E85;
  textAccentGray: #6C6C6C;
}

.acf-video-wrap {
  max-width: 884px;
  width: 100%;
  max-height: 562px;
  height: 100%;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(25, 33, 61, 0.1);
          box-shadow: 0px 4px 10px 0px rgba(25, 33, 61, 0.1); /* #19213D1A をrgba形式に */
  background: #F9F9F9; /* この変数がこのファイルで利用可能である必要があります */
}
.acf-video-wrap .acf-video {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* 他のグローバルなスタイルがあればここに追加 */
.breadcrumbWrapper {
  padding-top: 110px;
  padding-left: 11.8055555556vw;
}

.container {
  padding-inline: 75px;
}

.work__h2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding-top: 26px !important;
}

.imagePosition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.imagePosition:before {
  content: "";
  position: absolute;
  z-index: -1;
  background-image: url(../../../public/Works/PC/Works_bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 1365px;
  height: 461px;
  top: 131px;
  left: 0;
}

.featuredImage {
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(25, 33, 61, 0.0509803922);
          box-shadow: 0px 2px 10px 0px rgba(25, 33, 61, 0.0509803922);
  max-width: 917px;
  max-height: 450px;
  width: 100%;
  height: auto;
}

.workCategoryH1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  padding-top: 43.5px;
  padding-bottom: 75.5px;
  padding-left: 209px;
  height: 23px;
}

.worksCategory {
  max-width: 100%;
  height: 30px;
  border-radius: 3px;
  border-width: 1px;
  padding: 10px;
  border: 1px solid #caccd3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.worksTitle {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  text-align: left;
  font-family: "Noto Sans JP";
  font-weight: 700;
  font-size: 32px;
  line-height: 170%;
  letter-spacing: 0%;
  color: #FFFFFF;
}

.content {
  margin-top: 72px;
  margin-bottom: 116px;
  padding-left: 19.4520833333vw;
}
.content figure {
  margin: 0;
  font-family: "Noto Sans JP";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #282828;
  font-size: 16px;
  letter-spacing: 0%;
  margin-bottom: 56px;
}
.content figure tr:not(:last-child) {
  height: 52px;
}
.content figure tr:nth-of-type(6) :first-child {
  vertical-align: top;
}
.content figure tr:nth-of-type(6) td {
  padding-top: 20px;
}
.content figure td:first-child {
  width: 191px;
  font-weight: 700;
  line-height: 170%;
}
.content figure td:last-child {
  width: 609px;
  font-weight: 400;
  line-height: 180%;
}
.content figure td:last-child a {
  color: #2F4AB2;
  text-decoration: underline;
}

.relationWorks {
  padding-inline: 91.5px;
}

.work__h2Others {
  margin-left: 0 !important;
  padding-top: 0 !important;
}

.workOthersListButton {
  margin-top: 32px;
  margin-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}