@charset "UTF-8";
:export {
  baseColorWhite: #FFFFFF;
  baseColorOffWhite: #F9F9F9;
  mainColorDarkBlue: #272E85;
  mainColorBlue: #2F4AB2;
  accentColorRed: #E54B4B;
  accentColorGray: #6D758F;
}

:export {
  textBlack: #282828;
  textWhite: #ffffff;
  textAccentBlue: #272E85;
  textAccentGray: #6C6C6C;
}

.acf-video-wrap {
  max-width: 884px;
  width: 100%;
  max-height: 562px;
  height: 100%;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(25, 33, 61, 0.1);
          box-shadow: 0px 4px 10px 0px rgba(25, 33, 61, 0.1); /* #19213D1A をrgba形式に */
  background: #F9F9F9; /* この変数がこのファイルで利用可能である必要があります */
}
.acf-video-wrap .acf-video {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* 他のグローバルなスタイルがあればここに追加 */
.worksContents {
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.postCard {
  position: relative;
  margin: 0;
  width: 353px;
  height: 346px;
  gap: 10px;
  border-radius: 8px;
  background: #FFFFFF;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  /* header内の画像 */
}
.postCard:hover .title::after {
  -webkit-animation: titleLine 0.4s ease-in-out;
          animation: titleLine 0.4s ease-in-out;
  opacity: 1;
}
.postCard:hover .worksLink {
  background-position: 0 0;
}
.postCard:hover .worksLink::before {
  background-color: transparent;
  background-image: url("../../../public/Works/PC/ArrowWhite.webp");
  -webkit-animation: arrow-cycle 0.4s ease-in-out 0.4s forwards;
          animation: arrow-cycle 0.4s ease-in-out 0.4s forwards;
}
.postCard:hover .postHeader {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.postCard .postHeader img {
  height: 200px;
  width: 353px;
  -o-object-fit: cover;
     object-fit: cover;
}
.postCard .Category {
  position: absolute;
  max-width: 300px;
  width: auto;
  height: 30px;
  top: 16px;
  right: 19px;
  border-radius: 3px;
  border-width: 1px;
  padding: 10px;
  color: #272E85;
  background: #FFFFFF;
  font-family: "Inter";
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0%;
  border: 1px solid #caccd3;
  -webkit-box-shadow: 0px 1px 10px 0px rgba(25, 33, 61, 0.2);
          box-shadow: 0px 1px 10px 0px rgba(25, 33, 61, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}
.postCard .postFooter {
  height: 197px;
  padding-inline: 31.5px;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.postCard .postFooter h3 {
  padding-top: 24px;
  padding-bottom: 13px;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.postCard .postFooter p {
  margin: 0;
  height: 82px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.worksLink {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 31px;
  bottom: 23px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  padding: 1px;
  background: linear-gradient(282.13deg, #366195 10.86%, #333398 77.59%);
  background-size: 200% 100%;
  background-position: 100% 0;
  -webkit-transition: background-position 0.4s ease-in-out;
  transition: background-position 0.4s ease-in-out;
}
.worksLink::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  background-image: url("../../../public/Works/PC/ArrowBlue.webp");
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 7px;
  -webkit-transition: background-color 0.4s ease-in-out, background-image 0.4s ease-in-out, opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: background-color 0.4s ease-in-out, background-image 0.4s ease-in-out, opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: background-color 0.4s ease-in-out, background-image 0.4s ease-in-out, transform 0.3s ease-out, opacity 0.3s ease-out;
  transition: background-color 0.4s ease-in-out, background-image 0.4s ease-in-out, transform 0.3s ease-out, opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

@-webkit-keyframes arrow-cycle {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
  20% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  50.01% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  70% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes arrow-cycle {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
  20% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  50.01% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  70% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}