@charset "UTF-8";
:export {
  baseColorWhite: #FFFFFF;
  baseColorOffWhite: #F9F9F9;
  mainColorDarkBlue: #272E85;
  mainColorBlue: #2F4AB2;
  accentColorRed: #E54B4B;
  accentColorGray: #6D758F;
}

:export {
  textBlack: #282828;
  textWhite: #ffffff;
  textAccentBlue: #272E85;
  textAccentGray: #6C6C6C;
}

.acf-video-wrap {
  max-width: 884px;
  width: 100%;
  max-height: 562px;
  height: 100%;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(25, 33, 61, 0.1);
          box-shadow: 0px 4px 10px 0px rgba(25, 33, 61, 0.1); /* #19213D1A をrgba形式に */
  background: #F9F9F9; /* この変数がこのファイルで利用可能である必要があります */
}
.acf-video-wrap .acf-video {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* 他のグローバルなスタイルがあればここに追加 */
.cta {
  position: relative;
  background-image: url(../../../public/Cta/PC/cta_background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  max-height: 230px;
  height: auto;
  padding-top: 80px;
  padding-bottom: 77px;
  overflow: hidden;
}

.cta__image_left {
  position: absolute;
  top: 111px;
  left: 33.8px;
  max-width: 206.0705207976px;
  max-height: 206.0705207976px;
  width: 100%;
  height: auto;
  -webkit-animation-name: y-loop;
          animation-name: y-loop;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes y-loop {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes y-loop {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.cta__image_center {
  position: absolute;
  top: 0;
  left: 569.58px;
  width: 100%;
  height: auto;
  max-width: 155.0000109495px;
  max-height: 154.9999956907px;
  -webkit-animation-name: y--loop;
          animation-name: y--loop;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes y--loop {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes y--loop {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.cta__image_right {
  position: absolute;
  top: 18px;
  right: -16px;
  width: 100%;
  height: auto;
  max-width: 248px;
  max-height: 217px;
  overflow: hidden;
  -webkit-animation-name: y-loop;
          animation-name: y-loop;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.cta__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: calc(167px + (100vw - 1440px) * 167 / 1440);
}

.cta_text {
  font-family: "Noto Sans JP";
  font-weight: 700;
  font-size: 30px;
  line-height: 170%;
  letter-spacing: 0%;
  color: #FFFFFF;
  margin-left: calc(167px + (100vw - 1440px) * 167 / 1440);
  max-width: 439.48828125px;
  height: 73px;
}

.cta__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  z-index: 2;
}